<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Munchr</ion-title>
		<ion-buttons end>
		  <button ion-button icon-only (click)="view_notifications()">
		  	<ion-badge *ngIf="notifications && (notifications.requests.length > 0 || notifications.recommendations.length > 0) ">
		  	{{notifications.requests.length + notifications.recommendations.length}}
		  	</ion-badge>
		    <ion-icon name="notifications"></ion-icon>
		  </button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<img height="100" class="center" src="assets/imgs/munchr.png"/>
	<ion-item no-lines>
		<ion-label item-left>Friend Activity</ion-label>
	</ion-item>
	<ion-content style="height:160px">
	<ion-list>
		<ion-item *ngIf="loading">
			<ion-label>Loading...</ion-label>
		</ion-item>
		<ion-item *ngIf="!loading && activity.length == 0">
			<h2>Looks like you have no friends yet</h2>
			<button ion-button (click)="add_friends()">Add Some Now</button>
		</ion-item>
		<ion-item  *ngFor="let rating of activity">
			<ion-avatar item-left (click)="view_account(rating)">
				<img src="{{ rating.photo_url || 'https://img.clipartfest.com/0a8ebfb4a70e557d07de12bce05cf5a8_male-silhouette-man-head-clipart-silhouette_1280-1024.jpeg'}}">
			</ion-avatar>
			<div (click)="view_restaurant(rating.res_id)">
				<h2>{{ rating.first_name }} {{rating.last_name}}</h2>
				<p>{{ rating.liked? 'Liked' : 'Did not like'}} {{ rating.res_name }}</p>
			</div>
			<ion-note item-right>{{ rating.review_date }}</ion-note>
		</ion-item>
	</ion-list>
	</ion-content>

	<ion-item no-lines>
		<ion-label item-left>Distance (miles)</ion-label>
		<ion-badge item-right>{{ (distance*distance*distance/320) + (320 - (distance*distance*distance)%320)/320 }} mile{{((distance*distance*distance/320) + (320 - (distance*distance*distance)%320)/320)  > 1 ? 's' : ''}} </ion-badge>
	</ion-item>
	<ion-range min="1" max="20" [(ngModel)]="distance">
		<ion-icon range-left name="walk"></ion-icon>
		<ion-icon range-right name="car"></ion-icon>
	</ion-range>
	<ion-list radio-group [(ngModel)]="selection">
		<ion-item>
			<ion-label>Any Cuisine</ion-label>
			<ion-radio value="newRestaurant"></ion-radio>
		</ion-item>
		<ion-item>
			<ion-label>Recommend Cuisines</ion-label>
			<ion-radio value="newCuisine"></ion-radio>
		</ion-item>
		<ion-item>
			<ion-label>Select Cuisines You Want</ion-label>
			<ion-radio value="know"></ion-radio>
		</ion-item>
	</ion-list>

</ion-content>
<ion-footer>

	<button ion-button class="center" (click)="search()" [disabled]="loading" block> {{loading?  'Loading...' : 'Search'}}</button>
</ion-footer>
