<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Munchr</ion-title>
		<ion-buttons end>
		  <button ion-button icon-only (click)="view_notifications()">
		  	<ion-badge *ngIf="notifications && (notifications.requests.length > 0 || notifications.recommendations.length > 0 || notifications.ratings.length > 0) ">
		  	{{notifications.requests.length + notifications.recommendations.length + notifications.ratings.length}}
		  	</ion-badge>
		    <ion-icon name="notifications"></ion-icon>
		  </button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<img height="100" class="center" src="assets/imgs/munchr.png"/>
	<ion-item no-lines>
		<ion-label item-left>Friend Activity</ion-label>
	</ion-item>
	<ion-content style="height:60vh">
	<ion-list>
		<ion-item *ngIf="loading && (!activity || activity.length == 0)">
			<ion-label>Loading...</ion-label>
		</ion-item>
		<ion-item *ngIf="activity && activity.length == 0">
			<h2>Looks like you have no friends with activity yet</h2>
			<button ion-button (click)="add_friends()">Add Friends</button>
		</ion-item>
		<ion-item style="background: #393939" *ngFor="let rating of activity">
			<ion-avatar item-left (click)="view_account(rating)">
				<img src="{{ rating.photo_url || 'assets/imgs/person.png'}}">
			</ion-avatar>
			<div (click)="view_restaurant(rating.res_id)">
				<h2>{{ rating.first_name }} {{rating.last_name}}</h2>
				<p>{{ rating.liked === null ? 'Went to' : rating.liked? 'Liked' : 'Did not like'}} {{ rating.res_name }}</p>
			</div>
			<ion-note item-right>{{ rating.review_date }}</ion-note>
		</ion-item>
	</ion-list>
	</ion-content>
</ion-content>
<ion-footer>

	<button ion-button class="center" (click)="search()" [disabled]="loading" block> {{loading?  'Loading...' : "Search For Restaurants"}}</button>
</ion-footer>
