<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Munchr</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<img height="200" class="center" src="../../assets/imgs/munchr.png"/>
	<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
	<ion-list *ngIf="items && items.cuisines && items.cuisines.length > 0">
		<ion-list-header>
			Cuisines
		</ion-list-header>
		<ion-item *ngFor="let item of items.cuisines">
			<ion-label>{{ item.name }}</ion-label>
			<ion-checkbox [(ngModel)]="item.checked" item-left></ion-checkbox>
		</ion-item>
	</ion-list>

	<ion-list *ngIf="items && items.categories && items.categories.length > 0">=
		<ion-list-header>
			Categories
		</ion-list-header>
		<ion-item *ngFor="let item of items.categories">
			<ion-label>{{ item.name }}</ion-label>
			<ion-checkbox [(ngModel)]="item.checked" item-left></ion-checkbox>
		</ion-item>
	</ion-list>
</ion-content>

<ion-footer>
	<button ion-button class="center" (click)=search()>Search</button>
</ion-footer>
