page-display {

	.mainitem {
		background: color($colors, back)
	}

	.invicibutton {
		background: color($colors, back)
	}

	.card  {
		ion-item {
			background: color($colors, dark)
		}

		h2 {
			color: color($colors, light)
		}

		p {
			color: color($colors, sublight)
		}
	}


	.messages ion-card {
		text-align: center;
	}
}
