<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Results</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item-sliding *ngFor="let res of restaurants; let myIndex = index" #slidingItem (ionDrag)="throw_out($event, slidingItem, myIndex, res.res_id)">
			<ion-item no-lines class="mainitem">
				<ion-card class="card">
					<img (click)="info(res.res_id)" height="300" *ngIf="res.photo" [src]="res.photo">
					
					<ion-title>{{ res.name }} <ion-icon (click)=star_res(myIndex) name="{{(res.starred)? 'star' : 'star-outline'}}"></ion-icon></ion-title>

					<ion-item no-lines>
						<ion-icon name="pin" item-left large></ion-icon>
						<h2>{{ res.location.address }}</h2>
						<p>~ {{ res.distance }} miles away</p>
					</ion-item>

					<ion-item no-lines>
						<ion-icon name="finger-print" item-left large></ion-icon>
						<h2>{{ res.evidence }}</h2>
						<p>81% match</p>
					</ion-item>
				</ion-card>
			</ion-item>
			<ion-item-options side="left">
				<button class="invicibutton" style="width: 0px" ion-button expandable></button>
			</ion-item-options>

			<ion-item-options side="right">
				<button class="invicibutton" style="width: 0px" ion-button expandable></button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
	<div class="messages">
		<div *ngIf="!loading && !no_results && restaurants.length == 0">
			<ion-card>
				<ion-card-content>
					That's all the results right now
				</ion-card-content>
				<button ion-button class="center" (click)="go_back()">Try Different Filters</button>
				<button ion-button class="center" (click)="start_over()">View Again</button>
			</ion-card>
		</div>
		<div *ngIf="!loading && no_results">
			<ion-card>
				<ion-card-content>
					Looks like there were no results that matched those filters. You could try different filters or a larger search radius
				</ion-card-content>
				<button ion-button class="center" (click)="go_back()">Ok</button>
			</ion-card>
		</div>
	</div>
</ion-content>