<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Results</ion-title>
		<ion-buttons *ngIf="liked_cards.length > 0" end>
		  <button ion-button icon-only (click)="see_liked()">
		  	<ion-badge>
		  	{{ liked_cards.length }}
		  	</ion-badge>
		    <ion-icon name="thumbs-up"></ion-icon>
		  </button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<div swing-stack #myswing1 [stackConfig]="stackConfig" (throwout)="throw_out($event.throwDirection)" id="card-stack">
		<ion-card #mycards1 swing-card *ngFor="let res of cards">
			<img (click)="info(res.res_id)" height="300" *ngIf="res.photo" [src]="res.photo">
			
			<ion-title>{{ res.name }} <ion-icon (click)=star_res() name="{{(res.starred)? 'star' : 'star-outline'}}"></ion-icon></ion-title>
			<ion-card-content *ngIf="res.location">
				{{ res.location.address }}<br>
				{{ res.distance }} miles away<br>
				
			</ion-card-content>
			<h3 style="color: white;">{{ res.evidence }}</h3>
		</ion-card>
	</div>
	<div *ngIf="display_options && liked_cards.length != 0" class="center">
		<button ion-button icon-right class="center" (click)="see_liked()">Show liked restaurants
		<ion-icon name="thumbs-up"></ion-icon>
		</button>
		<p>Tip: Tap on the card or "Restaurant Details" to see more information and "Done" when you've made your choice</p>
	</div>
	<div *ngIf="display_options && liked_cards.length == 0">
		<p>Looks like you didn't swipe right on any restaurants.</p>
		<button ion-button class="center" (click)="start_over()">Try Different Filters</button>
		<button ion-button class="center" (click)="start_over()">View Again</button>
	</div>
</ion-content>

<div class="like center" [ngStyle]="{
		'opacity': like_opacity, 
		'z-index': (like_opacity > 0 ? 1 : -1)
		}">
	<img width="200" src="assets/imgs/thumbs_up.png">
</div>

<div class="like center" [ngStyle]="{
		'opacity': unlike_opacity, 
		'z-index': (unlike_opacity > 0 ? 1 : -1)
		}">
	<img width="200" src="assets/imgs/thumbs_down.png">
</div>

<ion-footer *ngIf="!display_options">
	<button ion-button class="center" (click)="info(res.res_id)" block>Restaurant Details</button>
</ion-footer>
