<ion-header>
	<ion-navbar>
<!-- 		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button> -->
		<ion-title>Munchr</ion-title>
	</ion-navbar>
		<ion-title>{{ restaurant.name }}</ion-title>
</ion-header>

<ion-content>
	<img *ngIf="!details.photos || details.photos.length == 0" [src]="restaurant.photo">
	<ion-slides *ngIf="details.photos && details.photos.length > 0" [autoplay]="5000" [loop]="true" [pager]="true" [speed]="1000">
		<ion-slide *ngFor="let photo of details.photos">
			<img class="center" [src]="photo">
		</ion-slide>
	</ion-slides>
	{{ restaurant.location.address }} <br>
	{{ details.phone }} <br>
	<a href="{{details.website}}">Website</a> <br>
	<p *ngIf=[details.opennow]> Open Now! </p>
	<ion-icon [name]="restaurant.rating >= 0 ? 'star' : 'star-outline'"></ion-icon>
	<ion-icon [name]="restaurant.rating > 1 ? 'star' : 'star-outline'"></ion-icon>
	<ion-icon [name]="restaurant.rating > 2 ? 'star' : 'star-outline'"></ion-icon>
	<ion-icon [name]="restaurant.rating > 3 ? 'star' : 'star-outline'"></ion-icon>
	<ion-icon [name]="restaurant.rating > 4 ? 'star' : 'star-outline'"></ion-icon> <br>
	<!-- Change this with string concat in code -->
	<p *ngIf="details.price >= 0">$</p>
	<p *ngIf="details.price > 1">$</p>
	<p *ngIf="details.price > 2">$</p>
	<p *ngIf="details.price > 3">$</p>
	<p *ngIf="details.price > 4">$</p>


	<ion-list>
		<ion-item *ngFor="let review of details.reviews" text-wrap>
			<div *ngIf="review.rating > 0">
				<ion-icon [name]="review.rating >= 0 ? 'star' : 'star-outline'"></ion-icon>
				<ion-icon [name]="review.rating > 1 ? 'star' : 'star-outline'"></ion-icon>
				<ion-icon [name]="review.rating > 2 ? 'star' : 'star-outline'"></ion-icon>
				<ion-icon [name]="review.rating > 3 ? 'star' : 'star-outline'"></ion-icon>
				<ion-icon [name]="review.rating > 4 ? 'star' : 'star-outline'"></ion-icon>
			</div>
			<p>{{ review.review_text }}</p>
			<p>{{ review.review_time_friendly }}</p>
		</ion-item>	
	</ion-list>

	<img [src]="map" (click)="navigate()">
</ion-content>

<ion-footer>
	<button ion-button (click)="choose()" block>Choose</button>
	<button ion-button (click)="dismiss()" block>Back</button>
</ion-footer>
