page-info {
	ion-slides {
		border: 10px solid black;
		max-height: 300px;
	}

	ion-list {
		padding: 0;
	}

	ion-item.info {
		color: white;
		/*text-align: center;*/
	}

	p.review {
		color: white;
		padding-left: 5px; 
	}

	p.price {
		color: white;
		display: inline;
		float: right;
	}

}
