<ion-header>
  <ion-navbar>
    <ion-title>Notifications</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<h4 *ngIf="(!requests || requests.length == 0) && (!recommendations || recommendations.length == 0) && (!ratings || ratings.length == 0)">You have no notifications right now</h4>
	<div *ngIf="ratings && ratings.length > 0">
		<ion-title>Pending Ratings</ion-title>
		<ion-list>
			<ion-item *ngFor="let res of ratings; let myIndex = index">
				<ion-avatar item-left (click)="view_restaurant(res.res_id)">
					<img src="{{ res.photo_url }}">
				</ion-avatar>
				<div (click)="view_restaurant(res.res_id)">
					<h2>{{ res.res_name }}</h2>
					<p>{{ res.review_date }}</p>
				</div>

				<button (click)="rate(res.rating_id, res.res_id, true)" ion-button outline item-right icon-left>
					<ion-icon name='thumbs-up'></ion-icon>
				</button>
				<button (click)="rate(res.rating_id, res.res_id, false)" ion-button outline item-right icon-left>
					<ion-icon name='thumbs-down'></ion-icon>
				</button>
				<button (click)="dismiss_rating(res.rating_id, myIndex)" ion-button outline item-right icon-left >
				    <ion-icon name='close'></ion-icon>
				</button>
			</ion-item>
		</ion-list>
	</div>
	<div *ngIf="requests && requests.length > 0">
		<ion-title>Friend Requests</ion-title>
		<ion-list>
			<ion-item *ngFor="let user of requests">
				<ion-avatar item-left (click)="view_account(user)">
					<img src="{{ user.photo_url || 'https://img.clipartfest.com/0a8ebfb4a70e557d07de12bce05cf5a8_male-silhouette-man-head-clipart-silhouette_1280-1024.jpeg'}}">
				</ion-avatar>
				<h2 (click)="view_account(user)">{{ user.first_name }} {{user.last_name}}</h2>
				<button (click)="respond(true, user)" ion-button outline item-right icon-left>
				    <ion-icon name='people'></ion-icon>
				    Accept
				</button>
				<button (click)="respond(false, user)" ion-button outline item-right icon-left>
				    <ion-icon name='close'></ion-icon>
				    Decline
				</button>
			</ion-item>
		</ion-list>
	</div>
	<div *ngIf="recommendations && recommendations.length > 0">
		<ion-title>Restaurant Recommendations</ion-title>
		<ion-list>
			<ion-item *ngFor="let recom of recommendations; let myIndex = index">
				<ion-avatar item-left (click)="view_account(recom)">
					<img src="{{ recom.photo_url || 'https://img.clipartfest.com/0a8ebfb4a70e557d07de12bce05cf5a8_male-silhouette-man-head-clipart-silhouette_1280-1024.jpeg'}}">
				</ion-avatar>
				<div (click)="view_restaurant(recom.res_id)">
					<h2>{{ recom.first_name }} {{recom.last_name}}</h2>
					<p>Recommends {{ recom.res_name }}</p>
				</div>
				<button (click)="dismiss(myIndex)" ion-button outline item-right icon-left>
				    <ion-icon name='close'></ion-icon>
				    Dismiss
				</button>
			</ion-item>
		</ion-list>
	</div>
</ion-content>
