<ion-header>

  <ion-navbar>
    <ion-title>Starred Restaurants</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div *ngIf="stars && stars.length > 0">
	<!-- <ion-title>Friend Requests</ion-title> -->
	<ion-list>
		<ion-item *ngFor="let res of stars">
			<ion-avatar item-left (click)="view_details(res.res_id)">
				<img src="{{ res.photo_url }}">
			</ion-avatar>
			<h2 (click)="view_restaurant(res.res_id)">{{ res.res_name }}</h2>
			<button (click)="star_res(res.res_id)" ion-button outline item-right icon-left>
			    <ion-icon name='star-outline'></ion-icon>
			    Unstar
			</button>
		</ion-item>
	</ion-list>
</div>
</ion-content>
